@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&display=swap");

.section {
  padding-top: 140px;
  padding-bottom: 140px;
}
@media (max-width: 900px) {
  .section {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
@media (max-width: 767px) {
  .section {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
