:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.9);
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif !important;
  scroll-behavior: smooth;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
:root{
  --primary-color:#edb901;
  --second-color:'#6d6b6b'
}

.MuiDialog-paper {
  padding: 50px;
}
.css-1b37uqu-MuiDialogActions-root > :not(:first-of-type) {
  margin-left: 0 !important;
}
@media (max-width: 767px) {
  .MuiDialog-paper {
    padding: 0;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-color);
  width: fit-content;

}
.swiper-button-prev{
  flex-direction: row-reverse;

}
.swiper-button-next:after {
    content: "";
    border: 10px solid var(--primary-color);
    border-color: transparent    transparent transparent var(--primary-color);
}
.swiper-button-next::before{
  content: "";
  width: 15px;
  height: 5px;
  background-color: var(--primary-color);

}
.swiper-button-prev:after{
    content: "";
    border: 10px solid var(--primary-color);
    border-color: transparent  var(--primary-color)  transparent transparent ;
}
.swiper-button-prev::before{
  content: "";
  width: 15px;
  height: 5px;
  background-color: var(--primary-color);
}
.swiper {
  position: initial;
}
.active-card{
  color: black !important;
  background-color: var(--primary-color);
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  border-radius: 0 !important;
  width:250px ;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding: 2px !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:not(:last-child){
  border-bottom: 1px solid #77777778 !important;

}
.all-blocks:hover .ul-all-blocks{
  display: flex;
}
.all-blocks .ul-all-blocks::before
{
    content: "";
    width: 100%;
    height: 30px;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -20px;
    
}